.header {
  position: absolute;
  width: 1052px;
  height: 105px;
  left: 24px;
  top: 92px;

}

.header__menu {
  width: 391.48px;
  height: 22px;
  top: 44px;
  left: 26.52px;
  border: 1px;
  position: relative;

}

.header__links-list {
  display: flex;
  list-style: circle;
  justify-content: space-around;
  list-style: circle;
     
}

.header__links-list-item_no-bullit {
  list-style: none;
 
}


.header__logo {
  position: absolute;
  width: 148px;
  height: 105px;
  left: calc(50% - 148px/2 + 2px);
  top: 0px;
}


.header__address {
  width: 240.52px;
  height: 98px;
  top: 5px;
  left: 786px;
  border: 1px;
  position: absolute;
  margin-top: 15px;
  
  
}

cover {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../images/cover.jpg");
  background-size: cover;

}

.cover__title {
position: absolute;
width: 1000px;
height: 355px;
left: 50px;
top: 165px;
box-sizing: border-box;
display: grid;
grid-template-rows: 118px 118px 118px;

}

.title__up {
  position: static;
  width: 316px;
  height: 115px;
  top: 165px;
  left: 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  z-index: 2;

}

.title__upo {
  padding-left: 30px;
 
}

.title__center {
  position: static;
  width: 369px;
  height: 100px;
  top: 300px;
  left: 336px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 2;
  color: #FFFFFF;
  grid-row-start: 2;
  padding-top: 10px;
  justify-self: center;
  margin-right: 60px;
    
}

.title__centere {
  padding-left: 30px;

}

.title__down {
  position: static;
  width: 417px;
  height: 100px;
  top: 420px;
  left: 620px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 2;
  justify-self: end;
  align-self: center;
  grid-row-start: 3;
  color: #FFFFFF;
  
  padding-top: 2px;

}


.title__downn {
  padding-right: 31px;
}

.cover__description {
  position: absolute;
  width: 637px;
  height: 28px;
  top: 667px;
  left: 78px; 
  z-index: 2;

  color: #FFFFFF;
}


.cover__description__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 16px;

}

.bet-button {
  width: 256px;
  height: 51px;
  top: 655px;
  left: 794px;
  position: absolute;
  background: transparent;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  
  letter-spacing: 0em;
  text-align: center;
  
  color: #FFFFFF;
  z-index: 2;


border: 1px solid #FFFF;
}


.cover {
  width: 1100px;
  height: 757px;
  top: 293px;
    
}

.overlay {
position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 0px;
background: #000000;
opacity: 0.6;
z-index: 0;
}
