.header {
  position: relative;
  width: 1052px;
  height: 105px;
  left: 27px;
  top: 92px;
}

.header__menu {
  font-family: Raleway, sans-serif;
  width: 392px;
  top: 43px;
  left: 22px;
  position: relative;
  font-size: 18.4px;
  line-height: 24px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  justify-content: space-between;
}

.links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  position: relative;
  left: 455px;
  top: -24px;
}

.header__logo-image {
  width: 137px;
}

.header__address {
  font-family: Raleway, sans-serif;
  width: 240.52px;
  top: -127px;
  left: 784px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  left: 0px;
  top: 187px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  width: 1000px;
  left: 50px;
  top: 165px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.title__up {
  position: relative;
  left: 30px;
}

.title__center {
  position: relative;
  top: 13px;
  left: 286px;
}
.title__center-last_letter {
  padding-left: 30px;
}

.title__down {
  position: relative;
  top: 18px;
  left: 585px;
}

.title__down-first_letter {
  padding-right: 30px;
}
.cover__description {
  position: relative;
  width: 637px;
  top: 324px;
  left: 78px;
  z-index: 2;
  color: #ffffff;
}

.cover__description__text {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  position: relative;
  width: 637px;
  top: 324px;
  left: 78px;
  z-index: 2;
  color: #ffffff;
}

.bet-button {
  font-family: Raleway, sans-serif;
  width: 256px;
  height: 51px;
  top: 282px;
  left: 794px;
  position: relative;
  background: transparent;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
  border: 1px solid #ffff;
}

.lots {
  position: relative;
  width: 1052px;
  height: 692px;
  top: 367px;
  left: 24px;
  list-style-type: none;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  position: relative;
  width: 121px;
  left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
}

.lots__card-list {
  position: relative;
  width: 1052px;
  top: 27px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.card_type_film {
  position: relative;
  width: 334px;
  min-height: 563px;
  left: 0px;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
}

.card_type-header {
  font-family: Raleway, sans-serif;
  position: relative;
  width: 254px;
  left: 40px;
  top: 51px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}

.card_type-text {
  font-family: Raleway, sans-serif;
  position: relative;
  width: 254px;
  left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card_type_book {
  position: relative;
  width: 334px;
  min-height: 563px;
  left: 25px;
  display: block;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
}

.card_type_picture {
  position: relative;
  width: 334px;
  min-height: 563px;
  left: 50px;
  display: block;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  position: relative;
  left: 40px;
  top: 58px;
  font-size: 20px;
  line-height: 23px;
}

.about {
  position: relative;
  width: 1052px;
  height: 595px;
  top: 547px;
  left: 24px;
}

.about__column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 334px;
}

.about__logo-image {
  background-color: #000000;
  width: 240px;
  min-height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.about__logo-image-white {
  width: 148px;
}

.about__column-text {
  width: 693px;
  top: -138px;
  left: 359px;
  position: relative;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 312px;
  top: 100px;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.002em;
  justify-content: space-between;
}

.footer {
  width: 1000px;
  top: 692px;
  left: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  font-style: normal;
}

.footer__menu {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  padding-left: 34px;
  padding-top: 1px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__social-link {
  width: 48px;
  list-style: none;
}
