.header {
  position: absolute;
  width: 1052px;
  height: 105px;
  left: 24px;
  top: 92px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.header__menu {
  width: 391.48px;
  height: 22px;
  top: 44px;
  left: 26.52px;
  border: 1px;
  position: relative;

}

.header__links-list {
  display: flex;
  list-style: circle;
  justify-content: space-around;
  
 
}

.header__links-list-item_no-bullit {

 
}

.header__links-list-item {
 


}

.header__logo-image {
  width: 148px;
  height: 105px;
  left: 454px;

}

.header__address {
  width: 240.52px;
  height: 98px;
  top: 5px;
  left: 786px;
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-end;
  position: sticky;
  
}

cover {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../images/cover.jpg");
  background-size: cover;

}

.cover__title {
position: absolute;
width: 1000px;
height: 355px;
left: 50px;
top: 165px;

}

.title {
  
  position: absolute;
  width: 316px;
  height: 115px;
  left: 50px;
  top: 165px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  z-index: 2;

}


/* button 

position: absolute;
width: 256px;
height: 51px;
left: 794px;
top: 655px;



/* Rectangle 6 

box-sizing: border-box;

position: absolute;
width: 256px;
height: 51px;
left: 794px;
top: 655px;

border: 1px solid #FFFFFF;


/* Сделать ставку 

position: absolute;
width: 193px;
height: 28px;
left: calc(50% - 193px/2 + 371.5px);
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* subline 

position: absolute;
width: 637px;
height: 28px;
left: 78px;
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% 
text-transform: uppercase;

color: #FFFFFF;



/* title 

position: absolute;
width: 1000px;
height: 355px;
left: 50px;
top: 165px;



/* надо 

position: absolute;
width: 417px;
height: 100px;
left: 633px;
top: 420px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100%;
/* identical to box height, or 100px 
text-align: right;
letter-spacing: 0.6em;
text-transform: uppercase;

color: #FFFFFF;



/* тебе *

position: absolute;
width: 369px;
height: 100px;
left: 336px;
top: 300px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100%;
/* identical to box height, or 100px 
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;



/* оно 

position: absolute;
width: 316px;
height: 115px;
left: 50px;
top: 165px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
/* identical to box height, or 115px 
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;
*/

.cover {
  width: 1100px;
  height: 757px;
  top: 293px;
    
}

.overlay {
position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 0px;
background: #000000;
opacity: 0.6;
}
